<div class="wrapper">
  <div class="content">
    
      <% @articles.each do |article| %>
        <tr>
          <td><b><%= article.title %></b></td>
          <td><%= link_to 'Read', article_path(article) %></td>
          
        </tr>
      <% end %>
      <div id="write-link">
        <%= link_to 'Write Article', new_article_path %>
      </div>
  </div>
</div>

