// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#title { 
  font-size: 500%;
  text-align: center
 }

 #author { 
  text-align: center;
  font-size: 200%;
}

.underline {
  border: 1px solid black;
  width: 50%;
}

#write-link {
  position: fixed;
  top: 90%
}

#index-grid { 
  border: 1px dashed black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-item { 
  text-align: left;
  border: 1px dashed black 
}

