// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#title {
  font-size: 500%;
}

.underline {
  border: 1px solid black;
  width: 50%;
}

#write-link {
  text-align: center;
  position: fixed;
  top: 90%
}

#index-grid { 
  display: grid;
  grid-template: 9fr 1fr / 9fr 1fr;
  border: 1px solid black;
}

.grid-item { text-align: left }