// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#title {
  font-size: 500%;
  padding: 1%;
  border-bottom: 1px solid black;
}