// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.wrapper {
  width: 300px;
  height: 300px;
  border: thin solid black;
  display: flex;
  justify-content: center
}

.link {
  width: 300px;
  margin: auto auto;
  text-align: center
}