// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#welcome-to {
  font-size: 200%;
  text-align: center;
}

#blug {
  font-size: 550%;
  text-align: center
}